.testimonials{
    background-image: var(--third-gradient);
}
.testimonials_container{
    text-align: center;
}
.testimonial_header{
    position: relative;
}
.testimonial_img{
    height: 180px;
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
    margin-bottom: 30px;
    vertical-align: middle;
}
.testimonial_icon{
    position: absolute;
    top: 0;
    left: -2px;
    width: 66px;
    height: 66px;
    background: var(--container-color);
    border-bottom-right-radius: 18px;
}
.testimonial_description{
    min-height: 110px;

}
.testimonial_name{
    font-size: var(--largest-font-size);
    margin-top: 30px;
}