.footer{
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-block: 60px;
}
.footer_container{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.footer_socials{
    display: flex;
    column-gap: 20px;
}
.footer_social-link{
    color: var(--title-color);
    font-size: var(--h5-font-size);
    transition: all 0.7s var(--transition);
}
.footer_social-link:hover{
    color: var(--primary-color);
}
.footer_copyright{
    font-size: var(--tiny-font-size);
    font-weight: 700;
}
.footer_container span{
    color: var(--primary-color);
}